#!/bin/bash
# */15 * * * * root /etc/cron.d/scraper_script.sh >> /var/log/cron.log 2>&1
*/15 * * * * root /bin/echo "$(date '+\%Y-\%m-\%d \%H:\%M:\%S') - Starting script" >> /var/log/cron.log; /etc/cron.d/scraper_script.sh >> /var/log/cron.log 2>&1; /bin/echo "$(date '+\%Y-\%m-\%d \%H:\%M:\%S') - Script finished" >> /var/log/cron.log
