.deepskyblue {
  background-color: hwb(205 13% 62% / 0.5);
}

.backgroundImage {
  background-image: url('../img/gagatan-lidkoping-grayscale.jpg');
  background-size: cover;
  background-position: center;
  height: 450px; 
  width: 100%;
}